.form-wrap {
  padding: 20px;
  background-color: rgb(17, 30, 209);
  display: flex;
  justify-content: center;
}
.search-form {
  font-size: 0;
}

.search-form__input {
  font-size: 24px;
  border: 2px solid teal;
  border-radius: 5px;
  outline: none;
  padding-left: 5px;
  &:hover,
  &:focus {
    outline: teal auto 2px;
  }
}

.search-form__btn {
  font-size: 24px;
  border: 2px solid teal;
  border-radius: 5px;
  cursor: pointer;
  &:hover,
  &:focus {
    color: blue;
    outline: teal auto 1px;
  }
}

.search-form__svg {
  fill: currentColor;
}
